<!-- 首页图表start -->
<div class="row data-list1">
    <div class="col-sm-12 col-lg-3 together">
        <div class="col-sm-4 col-lg-12">
            <div class="img-box pull-left">
                <img src="/public/img/clound.png" alt="">
            </div>
            <div class="word pull-left">
                <h3>99.99%</h3>
                <p>demo1</p>
            </div>
        </div>
        <div class="col-sm-4 col-lg-12">
            <div class="img-box pull-left">
                <img src="/public/img/user.png" alt="">
            </div>
            <div class="word pull-left">
                <h3>117K</h3>
                <p>demo2</p>
            </div>
        </div>
        <div class="col-sm-4 col-lg-12">
            <div class="img-box pull-left">
                <img src="/public/img/photo.png" alt="">
            </div>
            <div class="word pull-left">
                <h3>2,525</h3>
                <p>demo3</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 zhexian">
        <div class="chart">
            <div id="zhe-line"></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 sm-tu">
        <div class="chart">
            <div id="yuan"></div>
        </div>
        <div class="chart">
            <div id="pia"></div>
        </div>
    </div>
</div>
<div class="row data-list2">
    <div class="col-sm-6 huan">
        <div class="chart">
            <div id="shan-line"></div>
        </div>
    </div>
    <div class="col-sm-6 yibiao">
        <div class="yibaio-1 chart">
            <div id="area"></div>
        </div>
        <div class="yibaio-2 chart">
            <div id="area2"></div>
        </div>
    </div>
</div>
<!-- 首页图表end -->