<!-- 用户页面用户列表 -->
<div class="cnt">
    <div class="btn-box">
        <button class="btn btn-success push" data-toggle="modal" data-target="#mymodal">新增</button>
        <div class="input-group col-xs-4 pull-right pull">
            <input type="text" class="form-control" placeholder="查找用户 （接口问题，只能查找不重名的用户名）">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
        <div class="dele-tips">
            <p>
                <i class="glyphicon glyphicon-alert"></i>
                <span></span>
            </p>
        </div>
        <div class="modal" id="mymodal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">
                            &times;
                        </button>
                        <h4>添加用户</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" id="add-user" class="clearfix">
                            <p>用户名
                                <span> 不合法</span>
                            </p>
                            <input type="text" id="us-name">
                            <p>密码
                                <span> 不合法</span>
                            </p>
                            <input type="password" id="pwd">
                            <p class="cd-hid">重复密码
                                <span> 密码不一致</span>
                            </p>
                            <input class="cd-hid" type="password" id="repwd">
                            <p>真实姓名
                                <span> 不合法</span>
                            </p>
                            <input type="text" id="real-name">
                            <p>email
                                <span> 不合法</span>
                            </p>
                            <input type="text" id="email">
                            <p>头像</p>
                            <input type="file" id="head-url">
                            <p>状态</p>
                            <p>
                                <label>
                                    <input checked type="radio" id="op" name="state" value="开启">开启</label>
                                <label>
                                    <input type="radio" id="cl" name="state" value="关闭">关闭</label>
                            </p>
                            <button id="add-confirm" type="button" class="btn btn-success pull-right">确认</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-list clearfix" id="user-box">
       
    </div>
</div>
